html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

button {
  color: #fff;
  background-color: #0e902d;
  font-size: 2rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px 20px;
  font-weight: bold;
  width: 200px;
}

h2 {
  font-size: 5.63rem;
  letter-spacing: 1.3px;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  margin-bottom: 0;
}

p {
  font-family: "Roboto";
  font-size: 2rem;
  line-height: 32px;
}

img {
  max-width: 100%;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

footer {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
}
footer p {
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 0;
}

.contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerNav li a {
  padding: 20px;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  color: white;
  list-style: none;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

header {
  background-image: url(/images/home-image-1.jpg);
  background-position: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.headerNav li:first-child {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 2.4rem;
  text-decoration: none;
  margin: 0;
  list-style: none;
}

h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16.6rem;
  margin: 249px 444px;
  line-height: 14rem;
}

.heading {
  color: #f8e71c;
}

.about {
  background-color: #f0efed;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0;
}

.about p {
  width: 81%;
  text-align: center;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.container,
.imgContainer {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.container:nth-of-type(1) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.upcoming img:first-of-type {
  position: absolute;
  -webkit-box-shadow: 20px 20px #f8e71c;
          box-shadow: 20px 20px #f8e71c;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.blog .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 100px;
}
.blog .flexContainer .flexContainers {
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 75px;
  position: relative;
}

.yellowCircle {
  background-color: #f8e71c;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 32px;
  left: -59px;
}
.yellowCircle i {
  position: absolute;
  font-size: 2rem;
  top: 8px;
  right: 11px;
}

.window {
  background-image: url(/images/banner-image.jpg);
  height: 400px;
}

.founder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.founderImage {
  width: 27%;
  padding-right: 75px;
}
.founderImage img {
  width: 100%;
  -webkit-box-shadow: 20px 20px #f8e71c;
          box-shadow: 20px 20px #f8e71c;
}

.founderContainer {
  width: 70%;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.bottom .flexContainer {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 100px 0;
}

.bottom {
  background-color: #fff;
}