@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

button {
  color: #fff;
  background-color: #0e902d;
  font-size: 2rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px 20px;
  font-weight: bold;
  width: 200px;
}

h2 {
  font-size: 5.63rem;
  letter-spacing: 1.3px;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  margin-bottom: 0;
}

p {
  font-family: "Roboto";
  font-size: 2rem;
  line-height: 32px;
}

img {
  max-width: 100%;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

*:focus {
  outline: 0px none transparent;
}

footer {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
}
footer p {
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 0;
}

.blogFooter {
  margin-top: 2300px;
}

.contactFooter {
  margin-top: 150px;
}

.contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerNav li {
  padding: 10px 0 5px 30px;
}

.headerNav li a {
  padding: 20px;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  color: white;
  list-style: none;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.headerNav li a:focus, .headerNav li a:hover {
  color: #f8e71c;
}

a:focus,
a:hover {
  color: #f8e71c;
}

a {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

header {
  background-image: url(/images/home-image-1.jpg);
  background-position: cover;
  height: 100vh;
  background-repeat: no-repeat;
  z-index: 0;
}
header .hamburger {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}
header .hamburger i {
  color: #fff;
  font-size: 2rem;
}

.headerNav li:first-child {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 3rem;
  text-decoration: none;
  margin: 0;
  list-style: none;
}

h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16.6rem;
  margin: 249px 385px;
  line-height: 14rem;
  z-index: 40;
}

.heading {
  color: #f8e71c;
}

.indexHeader {
  position: relative;
}
.indexHeader .indexImg {
  position: absolute;
  top: 190px;
  right: 0;
}

.blogging {
  background-image: url(/images/blog-header-1.jpg);
  height: 500px;
  background-repeat: none;
  background-size: contain;
  position: relative;
}
.blogging h1 {
  margin: 0;
  color: #f8e71c;
  left: 143px;
  bottom: 118px;
  font-size: 11rem;
  position: absolute;
}

.headerNav {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 50px;
}

.contactHeader {
  background-image: url(/images/contact-header-1.jpg);
  background-size: contain;
  position: relative;
}
.contactHeader h1 {
  margin: 0;
  width: 35%;
  font-size: 11rem;
  color: #f8e71c;
  padding: 250px 0 0 125px;
}

.contactNav ul {
  background-color: black;
}

.about {
  background-color: #f0efed;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0;
}

.about p {
  width: 81%;
  text-align: center;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.shadowContainer,
.container,
.imgContainer {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.widthParagraph {
  width: 75%;
  text-align: end;
}

.shadowContainer > img {
  position: absolute;
  -webkit-box-shadow: -20px 20px #f8e71c;
          box-shadow: -20px 20px #f8e71c;
  bottom: -197px;
  right: 0;
  width: 758px;
  height: 400px;
}

.container:nth-of-type(1) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.imgContainer > img {
  position: absolute;
  -webkit-box-shadow: 20px 20px #f8e71c;
          box-shadow: 20px 20px #f8e71c;
  -o-object-fit: cover;
     object-fit: cover;
  top: -97px;
  left: -120px;
  width: 750px;
  height: 400px;
}

.blog .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 200px;
  padding-top: 100px;
}
.blog .flexContainer .flexContainers {
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 75px;
  position: relative;
}

.yellowCircle {
  background-color: #f8e71c;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 32px;
  left: -59px;
}
.yellowCircle i {
  position: absolute;
  font-size: 2rem;
  top: 8px;
  right: 11px;
}

.window {
  background-image: url(/images/banner-image.jpg);
  height: 400px;
}

.founder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.founderImage {
  width: 27%;
  padding-right: 75px;
}
.founderImage img {
  width: 100%;
  -webkit-box-shadow: 20px 20px #f8e71c;
          box-shadow: 20px 20px #f8e71c;
}

.founderContainer {
  width: 70%;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.bottom .flexContainer {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 100px 0;
}

.bottom {
  background-color: #fff;
}

.recentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31%;
  position: absolute;
  left: 0;
  top: 650px;
}
.recentContainer h3,
.recentContainer p,
.recentContainer ul {
  margin-left: 150px;
}
.recentContainer em {
  color: #0e902d;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.recentContainer ul {
  list-style: none;
  position: relative;
}
.recentContainer ul li {
  font-size: 2rem;
  padding: 5px;
  font-family: "Lato", sans-serif;
  position: relative;
}
.recentContainer ul img {
  width: 0;
  width: 1000px;
}
.recentContainer li::before {
  content: "•";
  position: absolute;
  color: #0e902d;
  height: 10px;
  font-size: 2rem;
  left: -21px;
}

.missionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 246px;
  right: 117px;
  width: 50%;
  padding-left: 20px;
}
.missionContainer > img {
  -webkit-box-shadow: -20px 20px #f8e71c;
          box-shadow: -20px 20px #f8e71c;
}
.missionContainer h4 {
  margin-top: 40px;
}

.boxContainer {
  -webkit-box-shadow: -5px 5px #f8e71c;
          box-shadow: -5px 5px #f8e71c;
  margin-left: -15px;
}
.boxContainer h2 {
  margin-top: 100px;
}
.boxContainer h2,
.boxContainer p {
  padding-left: 40px;
}
.boxContainer .yousra {
  font-style: italic;
  color: #0e902d;
}

.mission .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.julia,
.jeremy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
.julia img,
.jeremy img {
  width: 100%;
  height: 50%;
}
.julia .jeremyContainer,
.jeremy .jeremyContainer {
  width: 80%;
}
.julia .jj,
.jeremy .jj {
  margin: 0;
  color: #074115;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}
fieldset label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
fieldset input[type=email],
fieldset input[type=text] {
  width: 45%;
  border: none;
  border-bottom: 2px solid #0e902d;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  padding: 50px 0 30px 30px;
}
fieldset textarea {
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  padding: 50px 0 30px 30px;
  border: 2px solid #0e902d;
  margin-top: 40px;
}
fieldset button {
  width: 100%;
  margin-top: 50px;
}

.jeremyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.email .flexContainer .emailContainer {
  width: 25%;
}
.email .flexContainer .emailContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  width: 50%;
  margin-top: 100px;
}
.email .flexContainer .emailContainer ul i {
  color: #0e902d;
  font-size: 3rem;
}
.email .flexContainer .emailContainer h5 {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
.email .flexContainer .emailContainer p {
  margin: 0;
}
.email .flexContainer .emailContainer .info {
  margin-bottom: 500px;
}

.emailContainer p:last-child {
  margin-bottom: 200px;
}

.contactFieldset {
  width: 55%;
  position: absolute;
  right: 85px;
  top: 250px;
  -webkit-box-shadow: -20px 20px #f8e71c;
          box-shadow: -20px 20px #f8e71c;
  background: white;
}
.contactFieldset input[type=text],
.contactFieldset input[type=email] {
  width: 43%;
}
.contactFieldset input[type=email] {
  margin-right: 50px;
}
.contactFieldset input[type=text] {
  margin-left: 10px;
}
.contactFieldset textarea {
  width: 90%;
  padding-left: 25px;
  margin-left: 30px;
}
.contactFieldset button {
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
  }
}
@media (max-width: 940px) {
  .bottom img {
    width: calc(33.3333333333% - 20px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .founder .founderContainer {
    width: 60%;
  }

  .founderImage {
    width: 37%;
  }

  .blog .flexContainers {
    padding-right: 50px;
  }
  .blog .flexContainers h3 {
    text-align: center;
  }
  .blog .flexContainers h3 .yellowCircle {
    position: absolute;
    left: 10px;
  }

  .discover {
    padding: 80px 0 0 85px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 10rem;
  }

  .imgContainer,
.shadowContainer {
    display: none;
  }

  .container {
    width: 85%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-top: 40px;
    padding-left: 80px;
  }
  .container p {
    text-align: center;
  }

  .container:nth-of-type(1) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container:nth-of-type(1) .discover {
    padding: 0;
  }

  .blog .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .blog .flexContainer .flexContainers {
    width: 100%;
  }
  .blog .flexContainer .flexContainers .yellowCircle {
    left: 120px;
  }
  .blog .flexContainer .flexContainers p {
    text-align: center;
  }

  .indexHeader img {
    display: none;
  }

  .founderImage {
    width: 45%;
    margin-left: 30px;
  }

  .founderContainer {
    width: 47%;
  }
}
@media (max-width: 480px) {
  header {
    height: auto;
  }
  header .headerNav {
    display: none;
  }
  header i {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f8e71c;
    font-size: 3rem;
  }

  h2 {
    text-align: center;
  }

  .blog .flexContainer .flexContainers {
    padding-right: 0;
  }
  .blog .flexContainer .flexContainers .yellowCircle {
    left: 20px;
  }

  h1 {
    font-size: 9rem;
    margin-top: 100px;
  }

  .container {
    width: 100%;
    margin-top: 0;
    padding-left: 0;
  }

  .founder .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .founder .wrapper .founderImage {
    margin-left: 0;
    width: 80%;
    margin: 0;
    padding-right: 0;
    padding-bottom: 40px;
  }
  .founder .wrapper .founderContainer {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .founder .wrapper .founderContainer h4 {
    text-align: center;
  }
  .founder .wrapper .founderContainer p {
    text-align: center;
  }

  .window {
    height: 100px;
    background-size: contain;
    margin-top: 50px;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 6rem;
    line-height: 10rem;
  }

  .container h3 {
    font-size: 2.7rem;
  }

  .discover {
    text-align: center;
  }

  .flexContainers h3 {
    font-size: 2.2rem;
  }

  .yellowCircle {
    top: 20px;
  }

  .window {
    height: 100px;
    background-size: contain;
  }
}
@media (max-width: 940px) {
  .contactHeader {
    height: auto;
  }
  .contactHeader h1 {
    font-size: 7rem;
    line-height: 7rem;
    padding: 125px 0 0 125px;
    height: 400px;
    width: 80%;
  }

  .contactFieldset {
    top: 300px;
  }
}
@media (max-width: 768px) {
  .contactFieldset {
    right: 25px;
  }
  .contactFieldset .flexContainer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contactFieldset .flexContainer input[type=text],
.contactFieldset .flexContainer input[type=email] {
    width: 85%;
    margin: 0;
    padding: 0;
    padding: 40px 0 20px 0;
  }
  .contactFieldset .flexContainer input[type=email] {
    margin-left: 31px;
  }
}
@media (max-width: 480px) {
  .contactHeader {
    background-size: auto;
  }
  .contactHeader i {
    position: absolute;
    color: #f8e71c;
    font-size: 3rem;
    top: 20px;
    right: 20px;
  }
  .contactHeader h1 {
    font-size: 6rem;
  }

  .social i {
    padding-right: 10px;
  }

  .email .flexContainer:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contactFieldset {
    top: 0;
    right: 0;
    position: relative;
    width: 80%;
  }

  input[type=text],
input[type=email] {
    margin: 0;
    padding: 0;
  }

  .email .flexContainer .emailContainer {
    width: 50%;
  }

  .contactFieldset .flexContainer input[type=text] {
    margin-left: 30px;
  }
}
@media (max-width: 320px) {
  .contactHeader h1 {
    padding: 125px 0 0 75px;
  }

  .contactFieldset button {
    margin-left: 20px;
  }

  .email .flexContainer .emailContainer {
    width: 69%;
  }

  .social i {
    padding-right: 30px;
  }
}
@media (max-width: 940px) {
  .blogging h1 {
    bottom: 314px;
  }

  .missionContainer .jeremy .jeremyContainer,
.missionContainer .julia .jeremyContainer {
    width: 70%;
  }
  .missionContainer .jeremy img,
.missionContainer .julia img {
    height: 33%;
  }
  .missionContainer .blogFieldset .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .missionContainer .blogFieldset .flexContainer input[type=text],
.missionContainer .blogFieldset .flexContainer input[type=email] {
    width: 95%;
  }

  .recentContainer h3,
.recentContainer p,
.recentContainer ul {
    margin-left: 30px;
  }

  .blogFooter {
    margin-top: 2700px;
  }
}
@media (max-width: 768px) {
  .mission .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mission .flexContainer .missionContainer {
    width: 90%;
    top: 0;
    right: 0;
    position: relative;
  }
  .mission .flexContainer .missionContainer h2 {
    font-size: 4.8rem;
  }
  .mission .flexContainer .recentContainer {
    top: 0;
    left: 0;
    position: relative;
    width: 95%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mission .flexContainer .recentContainer > img {
    display: none;
  }
  .mission .flexContainer .recentContainer h3,
.mission .flexContainer .recentContainer p,
.mission .flexContainer .recentContainer ul {
    margin-left: 0;
  }

  .blogFooter {
    margin-top: 100px;
  }
}
@media (max-width: 480px) {
  .contactNav ul {
    display: none;
  }

  .blogging {
    height: 100vw;
    background-size: auto;
    position: relative;
  }
  .blogging i {
    color: #f8e71c;
    font-size: 3rem;
    right: 0;
    position: absolute;
    padding: 20px 20px 0 0;
  }
  .blogging h1 {
    font-size: 8rem;
    margin: 0 auto;
    bottom: 100px;
  }

  .mission {
    padding-top: 100px;
  }
  .mission .missionContainer .jeremy img,
.mission .missionContainer .julia img {
    height: 25%;
  }
}
@media (max-width: 320px) {
  .blogging h1 {
    left: 80px;
  }

  .mission .missionContainer .jeremy img,
.mission .missionContainer .julia img {
    height: 15%;
    padding-right: 10px;
  }

  .julia .jj,
.jeremy .jj {
    font-size: 2.4rem;
  }

  .missionContainer .blogFieldset .flexContainer input[type=text],
.missionContainer .blogFieldset .flexContainer input[type=email] {
    width: 100%;
  }

  .blogFieldset textarea {
    width: 100%;
  }
}