.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}
html {
    font-size: 62.5%;
}

button {
    color: #fff;
    background-color: $tertiary;
    font-size: 2rem;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
    font-family: $headingFont;
    padding: 10px 20px;
    font-weight: bold;
    width: 200px;
}

h2 {
    font-size: 5.63rem;
    letter-spacing: 1.3px;
    font-family: $headingFont;
    color: black;
    margin-bottom: 0;

}

p {
    font-family: $bodyFont;
    font-size: 2rem;
    line-height: 32px;
    
}

img {
    max-width: 100%;
}

h3 {
    font-family: $headingFont;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-weight: bold;
}

*:focus {outline:0px none transparent;}

.slideOutNav {
    position: relative;
    .x  {
        font-size: 3rem;
        color: $secondary;
        font-family: $headingFont;
        position: absolute;
        right: 20px;
        top: 20px;
        visibility: hidden;
        z-index: 50;
    }
    
    
    
}



.slideOutList {
    list-style: none;
    position: absolute;
    right: -300px; 
    font-family: $headingFont;
    font-size: 3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in-out;
    
    
    
    li:first-child {
        color: white;
        font-weight: bold;
        font-size: 5rem;
        
        
    }
    li {
        padding-top: 30px;
        display: flex;
       
    
        a {
            color: white;
            text-decoration: none;
            z-index: 99;
            &:focus,
            &:hover {
                color: $secondary;
            }
            
            
        }
    }

}

.slideOutList .hide {
    display: none;
}