.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}
html {
    font-size: 62.5%;
}

button {
    color: #fff;
    background-color: $tertiary;
    font-size: 2rem;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
    font-family: $headingFont;
    padding: 10px 20px;
    font-weight: bold;
    width: 200px;
}

h2 {
    font-size: 5.63rem;
    letter-spacing: 1.3px;
    font-family: $headingFont;
    color: black;
    margin-bottom: 0;

}

p {
    font-family: $bodyFont;
    font-size: 2rem;
    line-height: 32px;
    
}

img {
    max-width: 100%;
}

h3 {
    font-family: $headingFont;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-weight: bold;
}