
.contentContainer {
    display:flex;
    width: 50%;
    justify-content: space-evenly;
}

.headerNav {
    display: flex;
    align-items: center;
    
}

.headerNav li a {
    padding: 20px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    color: white;
    list-style: none;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

header {
    background-image: url(/images/home-image-1.jpg);
    background-position: cover;
    height: 100vh;
    background-repeat: no-repeat;
    
    
    
}

.headerNav li:first-child {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 2.4rem;
    text-decoration: none;
    margin: 0;
    list-style: none;
}

h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16.6rem;
    margin: 249px 444px;
    line-height: 14rem;
}

.heading {
    color: $secondary;
}

// BLOG PAGE

.blogging {
    background-image: url(/images/blog-header-1.jpg);
    height: 500px;
    background-repeat: none;
    background-position: contain;
    position: relative;
    h1 {
        margin: 0;
        color: $secondary;
        left: 143px;
        bottom: 118px;
        font-size: 11rem;
        position: absolute;
        
    }
    
}

.headerNav {
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 50px;
}

