



.flexContainer {
    display: flex;
    
    flex-wrap: wrap;
    width: 100%;
}

.container,
.imgContainer {
    width: 50%;
    flex-direction: column;
    padding-right: 200px;
    display: flex;
    position: relative;
}

// .imgContainer img {
//     width: 1000px;
// }

.container:nth-of-type(1) {
    
    align-items: flex-end;
}

.upcoming img:first-of-type {
    position: absolute;
    box-shadow: 20px 20px $secondary;
    object-fit: cover;
    top: 0;
    left: 0;
    

}